---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import UeberUns from '../components/UeberUns.astro';
import Mannschaften from '../components/Mannschaften.astro';
import Vorstand from '../components/Vorstand.astro';
import Kontakt from '../components/Kontakt.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <UeberUns />
    <Mannschaften />
    <Vorstand />
    <Kontakt />
  </main>
  <Footer />
</Layout>
